@{
    ViewData["Title"] = "New User";
}

<h1>New User</h1>

<form action="" method="post">
    <label for="user_id" class="form-label">User Id</label>
    <input type="text" name="user_id" id="user_id" class="form-control"> <br>
    <label for="password" class="form-label">Password</label>
    <input type="password" name="Password" id="Password" class="form-control"><br>
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" id="name" class="form-control"> <br>
    <label for="designation" class="form-label">Designation</label>
    <input type="text" name="desingation" id="designation" class="form-control"> <br>
    <button class="btn btn-primary">Submit</button>
</form>